body{
    background-color: rgb(59, 49, 54);
    margin: 300px auto;
    text-align: center;
    
}

#banner{
    font-size: 100px;
    text-transform: uppercase;
    background-color: rgb(193, 158, 226);
    color: rgb(255, 255, 255);
    height: 100px;
    width: 80%;
    margin: 0 auto;
}
#clock{
    background-color: rgb(46, 170, 207);
    font-size: 200px;
    color:white;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}